<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banco de dados</title>
</head>
<body>
    
 
    <form action="/edit/<%=body.id%>" method="POST" >
    <input   class="field" name="title" placeholder="title" value="<%=body.title%>">
    <input   class="field"  name="description" placeholder="description" value="<%=body.description%>">
    <input   class="field"   name="url" placeholder="URL" value="<%=body.url%>">
    <button>editar</button>
    </form>


<h3><%=error.message%></h3>
   
</body>
</html>